<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<table class="table table-striped">
      <thead>
    <tr>

      <th scope="col">Created by</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
   <% @articles.each do |article| %>
     <tr>
      <td><%= article.user.username %></td>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
       <% if article.user == current_user %>
           <td><%= link_to "Show", article,  class:"btn btn-success" %></td>
        <td>   <%= link_to "Edit", edit_article_path(article),class:"btn btn-primary" %> </td>
        <td> <%= button_to "Delete", article, method: :delete, class:"btn btn-danger"%>
         <div class="mb-3"></div>
      <% else %>
               <td><%= link_to "Show", article,  class:"btn btn-success" %></td>
    <% end %>
      

        
</td>
    </tr>
  <% end %>


   
  </tbody>

  </table>


